* {
  transition: 0.5s;
}

.opnav a:hover {
  color: #fff !important;
}

.bg-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
  padding: 10px 5px;
  background-color: #e3010f;
}

.bg-custom p small {
  opacity: 0.9;
}
.bg-custom p small a:hover {
  font-weight: 600;
}

.header ul li .dropdown-menu a:hover {
  background-color: transparent !important;
}

.header ul li .dropdown-menu {
  background-color: #333 !important;
}

.dropdown-toggle::after {
  margin-left: -5px !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent !important;
}

.header ul li a {
  font-family: monospace !important;
  color: #fff !important;
  text-transform: uppercase;
  outline: none;
  font-size: 15px;
}

header ul li ul.dropdown-menu {
  top: 94% !important;
  left: -96px !important;
  border: none !important;
  border-radius: 0px !important;
}

.header ul li:hover {
  background-color: #333;
}

.header ul li .dropdown-menu a {
  font-family: sans-serif !important;
  color: #fff !important;
  font-size: 0.8rem;
  opacity: 0.8;
  text-transform: capitalize;
}

.header ul li .dropdown-menu a:hover {
  opacity: 1;
  text-decoration: underline !important;
}

.gap-px {
  gap: 10px;
}

.gap-2 {
  gap: 2rem;
}

nav a {
  color: #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
.nav-pills a.nav-link {
  color: #dc3545 !important;
  font-size: 12px;
}

.newsBx:hover .custom_link {
  visibility: visible;
}

.custom_link {
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 18px;
  left: 55%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.gap-15 {
  gap: 15px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

a:hover {
  text-decoration: none !important;
}

.sticky {
  position: fixed !important;
  top: 0;
  z-index: 2;
  width: 100%;
}

.custom_link a {
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 15px;
}

.custom_link a:hover {
  color: #fff;
  text-decoration: none;
}
.banner {
  width: 100%;
  height: 400px;
  background-image: url("/assets/Mask\ group\ \(3\).png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.external_banner {
  width: 100%;
  height: 260px;
  background-image: url("/assets/banner.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.external_banner:after {
  position: absolute;
  content: "";
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.overlay_text {
  position: absolute;
  color: #fff;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 400;
}

.banner .rectangle {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.banner .rectangle img {
  width: 100%;
}

.admission .content {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
}

.custom_img2 {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.custom_img3 {
  width: 100%;
  object-fit: cover;
  height: 125px;
}

.custom_img4 {
  width: 100%;
  height: 490px;
  object-fit: cover;
}

.custom_size {
  font-size: 14.5px;
}
.custom_img {
  width: 100%;
  height: 490px;
  object-fit: cover;
}

.yoga .content {
  z-index: 1;
  color: #fff;
}

.carousel-indicators .active {
  background-color: #dc3545 !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff !important;
  background-color: #e3000f !important;
}

footer {
  background: #000;
  position: relative;
  font-size: 12px;
}

footer h5,
footer h6 {
  font-size: 14px;
}

.text-blue {
  color: #01719b;
}

.line_design1 {
  background-color: #e3000f;
  width: 50%;
  content: "";
  height: 30px;
  bottom: 0;
}

.line_design2 {
  background-color: #e3000f;
  width: 50%;
  content: "";
  height: 30px;
  right: 0;
}

.custom_tab {
  box-shadow: 2px 2px 5px -2px #000;
}

.header {
  padding: 10px;
}

.lh {
  line-height: 28px;
}

.text-underline {
  text-decoration: underline;
}

.bg-theme {
  background-color: #e3000f;
}

.box {
  background-color: #fff;
  border: 2px solid #000;
  height: 50px;
  width: 300px;
}

.custom_control {
  background-color: transparent;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-bottom: 2px solid #000;
  outline: none;
  width: 100%;
}

.navbar {
  padding: 0px !important;
}
.custom_control2 {
  border-right: transparent;
  border-left: transparent;
  border-top: transparent;
  background-color: transparent;
  border-bottom: 2px solid #000;
  outline: none;
}

/*......Responsiveness.....*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .banner {
    height: 250px;
  }

  .custom_img {
    height: 320px;
  }

  .custom_img4 {
    height: 637px;
    user-select: none;
  }

  .nav {
    display: block !important;
    text-align: center;
  }
  .custom_size div {
    padding-bottom: 10px;
  }

  .dropdown-item {
    font-size: 0.8rem;
  }

  .dropdown-submenu > .dropdown-menu {
    position: relative;
    left: 0;
  }

  .header {
    padding: 10px !important;
  }

  .navbar-nav .nav-link {
    padding: 10px !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .expanded {
    height: 300px;
    overflow-y: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
