* {
  transition: 0.5s;
}

.opnav a:hover {
  color: #fff !important;
}

.opnav ul li ul li a:hover {
  text-decoration: underline !important;
}

.opnav ul li a {
  font-family: monospace !important;
}

.opnav ul li ul li a {
  font-family: sans-serif !important;
}

.opnav ul {
  list-style: none;
  margin: 0;
  justify-content: center;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.opnav ul li {
  padding: 0px;
  position: relative;
}
.opnav ul li a {
  display: inline-block;
  padding: 8px 15px;
}
.opnav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 1;
  width: 250px;
}
.opnav ul li:hover ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #333;
}
.opnav ul li:hover ul li {
  box-sizing: border-box;
}
.opnav ul li:hover a {
  text-decoration: none;
  background: #333;
}
.opnav ul li:nth-child(7):hover ul {
  display: block;
  background: #333;
  width: 500px;
  left: -200px;
}

.gap-px {
  gap: 10px;
}

.gap-2 {
  gap: 2rem;
}

nav a {
  color: #fff;
}

a.nav-link {
  color: #dc3545 !important;
  font-size: 12px;
}

.newsBx:hover .custom_link {
  visibility: visible;
}

.custom_link {
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

a:hover {
  text-decoration: none !important;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

.custom_link a {
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 15px;
}

.custom_link a:hover {
  color: #fff;
  text-decoration: none;
}
.banner {
  width: 100%;
  height: 400px;
  background-image: url("./assets/Mask\ group\ \(3\).png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner .rectangle {
  position: absolute;
  bottom: 0;
}

.banner .rectangle img {
  width: 100%;
}

.admission .content {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
}

.custom_img2 {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.custom_img3 {
  width: 100%;
  object-fit: cover;
  height: 125px;
}

.custom_img4 {
  width: 100%;
  height: 490px;
  object-fit: cover;
}

.custom_size {
  font-size: 14.5px;
}
.custom_img {
  width: 100%;
  height: 490px;
  object-fit: cover;
}

.yoga .content {
  z-index: 1;
  color: #fff;
}

.carousel-indicators .active {
  background-color: #dc3545 !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff !important;
  background-color: #e3000f !important;
}

footer {
  background: #000;
  position: relative;
}

.text-blue {
  color: #01719b;
}

.line_design1 {
  background-color: #e3000f;
  width: 50%;
  content: "";
  height: 30px;
  bottom: 0;
}

.line_design2 {
  background-color: #e3000f;
  width: 50%;
  content: "";
  height: 30px;
  right: 0;
}

.custom_tab {
  box-shadow: 2px 2px 5px -2px #000;
}

.lh {
  line-height: 28px;
}

.text-underline {
  text-decoration: underline;
}

.bg-theme {
  background-color: #fff2cc;
}

.box {
  background-color: #fff;
  border: 2px solid #000;
  height: 50px;
  width: 300px;
}

.custom_control {
  background-color: transparent;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-bottom: 2px solid #000;
  outline: none;
  width: 100%;
}
.custom_control2 {
  border-right: transparent;
  border-left: transparent;
  border-top: transparent;
  background-color: transparent;
  border-bottom: 2px solid #000;
  outline: none;
}

/*......Responsiveness.....*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .banner {
    height: 250px;
  }

  .custom_img {
    height: 320px;
  }

  .custom_img4 {
    height: 637px;
  }

  .nav {
    display: block !important;
    text-align: center;
  }
  .custom_size div {
    padding-bottom: 10px;
  }

  .dropdown-item {
    font-size: 0.8rem;
  }

  .dropdown-submenu > .dropdown-menu {
    position: relative;
    left: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
